.form {
	width: 70%;
	height: 500px;
	margin: 0 auto;
}

.formInputs {
	width: 100%;
}

.formTitle {
	margin-bottom: 20px;
}

.formDescription {
	margin-bottom: 20px;
	height: 100px !important;
}

.button {
	display: flex;
	justify-content: end;
	width: 100%;
}
